{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome {{ name }}</h1>
    <h2>Your email is: {{ email }}</h2>
    <p>The confirmation code for your registration is: {{ code }}</p>
{% endblock %}